<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container text-center" th:fragment="header">
    <div class="row  justify-content-md-center">
        <div class="col align-self-center">TITLE</div>
        <div class="col align-self-start">
            <span th:if="${login}"><a th:href="@{login}">로그인</a></span>
            <span th:unless="${login}"><a th:href="@{logout}">로그아웃</a>&nbsp;<a th:href="@{mypage}">마이페이지</a></span>
        </div>
    </div>
</div>
</body>
</html>