<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
  window.onload = () => {
    fetch('http://openapi.seoul.go.kr:8088/62525a664d61696f353457754f6252/json/ListPublicReservationSport/1/5/',{method:"get"})
    .then(res => {
        return res.json();
    })
    .then(data => {
        data.ListPublicReservationSport.row.forEach((spot)=>{
        console.log(spot.X);
        console.log(spot.Y);
        });
    })
    .catch();
  }
  //http://openapi.seoul.go.kr:8088/62525a664d61696f353457754f6252/json/ListPublicReservationSport/1/5/
</script>
<body>

</body>
</html>